/*{ border:1px black solid; } /*Brings up the grids*/  

html, 
body{
    color:black;
    font-family: 'Amatic SC', cursive;
    font-size: 1.9em;
    background-color:white;
}


#content {
    text-align: center;
    margin-top: 6%;
}

#content h2{
   font-size: 1.2em;	
}

#content h3 {
	font-size: 0.6em;

}

#content span { /*keeping the width of the new words box*/
	position:relative;
    width:150px;
}
.wrapper{
    margin-top: 10%;
}
