/* *{ border:1px black solid; } */ 

html, 
body{
    color:black;
    font-family: "Verdana", "Geneva", sans-serif;
    font-size: 1.5em;
    background-color:white;
}

#content {
    text-align: center;
    margin-top: 6%;
}
.wrapper{
    margin-top: 10%;
}
